@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.toc div h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 15px;
}

@tailwind components;
@tailwind utilities;
